.container {
  width: 90%;
  /* border: 1px solid red; */
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(auto, auto);
}
.pagination_div {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  align-content: right;
  width: 85%;
}
.pagination {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100px;
  font-size: 2rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.pagination > svg {
  cursor: pointer;
}

.page {
  font-size: 1rem;
  margin-top: 0.2rem;
}

@media (max-width: 1247px) {
  .container {
    justify-content: space-around;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(auto, auto);
  }
}
@media (max-width: 900px) {
  .container {
    justify-content: space-around;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(auto, auto);
  }
}
@media (max-width: 700px) {
  .container {
    justify-content: space-around;
    grid-template-columns: repeat(1, 90%);
    grid-template-rows: repeat(auto, auto);
  }
}
@media (max-width: 400px) {
  .container {
    width: 90%;
    justify-content: space-around;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(auto, auto);
  }
}
